<!-- -*- XML -*- -->

<launch>
    <node pkg="sound_play" type="soundplay_node.py" name="soundplay_node" output="screen" required="true" ></node>
    <node pkg="robot_voice" type="chatterbot.py" name="chatterbot" output="screen" required="true" ></node>
    <node pkg="robot_voice" type="robot_talker.py" name="robot_talker" output="screen" required="true" ></node>
</launch>

