<launch>
        <include file="$(find scooter_launch)/launch/openni2.launch">
                <arg name="camera" default="rgbd_cam_1" />
                <!--First device on bus 2 -->
                <arg name="device_id" default="1d27/0601@3/10" />
        </include>
        
        <include file="$(find scooter_launch)/launch/openni2.launch">
                <arg name="camera" default="rgbd_cam_2" />
                <!--Second device on bus 2 -->
                <arg name="device_id" default="1d27/0601@3/11" />
        </include>
</launch>
